*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.body{
    min-width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.top{
    display: flex;
    background-color: rgb(41, 41, 41);
    width: 100%;

    justify-content: space-between;
    padding:10px;
    align-items: center;
    border-radius: 40px;
    
}
.top h2{
    margin-left: 10px;
    font-size: 42px;
    
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    width:65%; 
}
ul li{
    list-style: none;
    margin-right: 7px;
}
ul li a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    
}
.top button{
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #7FFF00, #7FFF00);
    border: none;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    vertical-align: middle;
}
.active{
    color: #7FFF00;
}
.service{
    height: 90%;
    padding-top: 50px;
    text-align: center;
}
.gride{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 550px 550px;
    column-gap: 200px;
}
.g1{   
    background-color: rgb(255, 255, 255);
    color: white;
    height: 4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}
#one{
    height: 100px;
    position: relative;
}
#one h3{
    margin-left: 10px;
  text-align: start;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(31, 31, 107);
}
#one p{
    margin-left: 10px;
    text-align: start;
    line-height: 18px;
    color: rgb(47, 47, 61);
}
#one img{
    display: inline-block; 
    width: 70px;
}
